{{#apiExamples}}
<div class="io-description">
  {{#if caption}}
    <b>{{caption}} Example :</b>
  {{else}}
    <b>Example : </b>
  {{/if}} 
  {{#if paragraph}} 
    <i>{{paragraph}}</i> 
  {{/if}} 
  {{{inlineLinks example}}} 
  {{>yields~}}
</div>
{{/apiExamples}}
