<ol class="breadcrumb">
{{#if type~}}
{{#each type.names}}
<li>{{this}}</li>
{{/each}}
{{else}}
<li>Module</li>
{{/if}}
<li>{{name}}</li>
</ol>
{{#if description}}
<p class="comment">
<h3>Description</h3>
</p>
<p class="comment">
{{{description}}}
</p>
{{/if}}
