{{#if returns}}
{{#if returns.[0].description~}}
<b>Returns : </b> {{#each returns~}}
  {{#if type~}}
  <div class="io-description">
    {{#if type.names}}{{>linked-type-list types=type.names delimiter=" \| " ~}}{{/if}}
    </div>
    {{~#if description}}
    <div class="io-description">
    {{{md (inlineLinks description)}}}
      </div>{{/if~}}
  {{else~}}
  <div class="io-description">
    {{{md (inlineLinks description)}}}
    </div>
  {{/if~}}
{{~/each}}
  
{{/if}}{{/if}}
